*{
	margin: 0px;
	padding: 0px;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    margin-top: 1.8%;
}

@media only screen and (max-width: 425px){
    header{
        height: 4rem;
        border-bottom: solid 2px;
    }
    .form_header {
        text-align: center;
    }

    form{
        width: 100%;
    }

    .name{
        width: 80%;
        height: 4em;
        margin-left: 10%;
        margin-top: 1em;
    }

    .phoneNumber{
        width: 80%;
        height: 4em;
        margin-left: 10%;
        margin-top: 1em;
    }
    
    .email{
        width: 80%;
        height: 4em;
        margin-left: 10%;
        margin-top: 1em;
    }

    .message{
        width: 80%;
        height: 6em;
        margin-left: 10%;
        margin-top: 1em;
        
    }

    .submit{
        width: 82%;
        height: 4em;
        margin-left: 10%;
        margin-top: 1em;
    }

    input,textarea{
        width: 100%;
        height: 100%;
        border-color: #bdbdbd ;
        border-style: double;
        border-width: thin;
        border-radius: 0.15em;
        font-size: 1.0125rem;
        font-family: 'Segoe UI';
        padding-left: 2%;
    }

    button{
        width: 100%;
        height: 100%;
        border-style: double;
        border-width: thin;
        border-color:  #19a974;
        background-color: #19a974;
        font-size: 1.125rem;
        color: white;
        font-family: 'Segoe UI';
    }

}


@media only screen and (min-width: 425px) and (max-width: 900px){

    header{
        height: 4rem;
        border-bottom: solid 2px;
    }

    .form_header {
        text-align: center;
    }

    form{
        width: 100%;
    }

    .name{
        width: 87%;
        height: 4em;
        margin-left: 5%;
        margin-top: 1em;
    }

    .phoneNumber{
        width: 87%;
        height: 4em;
        margin-left: 5%;
        margin-top: 1em;
    }
    
    .email{
        width: 87%;
        height: 4em;
        margin-left: 5%;
        margin-top: 1em;
    }

    .message{
        width: 87%;
        height: 6em;
        margin-left: 5%;
        margin-top: 1em;
    }

    .submit{
        width: 89%;
        height: 4em;
        margin-left: 5%;
        margin-top: 1em;
    }

    input,textarea{
        width: 100%;
        height: 100%;
        border-color: #bdbdbd ;
        border-style: double;
        border-width: thin;
        border-radius: 0.15em;
        font-size: 1.0125rem;
        font-family: 'Segoe UI';
        padding-left: 2%;
    }

    button{
        width: 100%;
        height: 100%;
        border-style: double;
        border-width: thin;
        border-color:  #19a974;
        background-color: #19a974;
        font-size: 1.125rem;
        color: white;
        font-family: 'Segoe UI';
    }
}

@media only screen and (min-width: 900px) and (max-width: 1100px){

    header{
        height: 4rem;
        border-bottom: solid 2px;
    }

    .form_header {
    text-align: center;
    }

    form{
        width: 90%;
        margin-left: 5%;
        text-align: center;
        
    }

    .name{
        display: inline-block;
        width: 31%;
        height: 4rem;
        margin-left: 1%;
    }

    .phoneNumber{
        display: inline-block;
        width: 31%;
        height: 4rem;
        margin-left: 1%;
    }

    .email{
        display: inline-block;
        width: 31%;
        height: 4rem;
        margin-left: 1%;
    }
    .message{
        width: 95.2%;
        height: 6rem;
        margin-top: 2%;
        margin-left: 2.5%;
    }

    .submit{
        margin-top: 1.5%;
        width: 31%;
        height: 4rem;
        display: inline-block;
        margin-left: 66%;
    }

     input,textarea{
        width: 100%;
        height: 100%;
        border-color: #bdbdbd ;
        border-style: double;
        border-width: thin;
        border-radius: 0.15em;
        font-size: 1.125rem;
        font-family: 'Segoe UI';
        padding-left: 1%;
    }

    button{
        width: 100%;
        height: 100%;
        border-style: double;
        border-width: thin;
        border-color:  #19a974;
        background-color: #19a974;
        font-size: 1.125rem;
        color: white;
        font-family: 'Segoe UI';
    }
} 

@media only screen and (min-width: 1100px){

    header{
        height: 4rem;
        border-bottom: solid 2px;
    }

   .form_header {
    text-align: center;
    }

    form{
        width: 75%;
        margin-left: 12%;
        text-align: center;
        
    }

    .name{
        display: inline-block;
        width: 30%;
        height: 4rem;
        margin-left: 1%;
        
    }

    .phoneNumber{
        display: inline-block;
        width: 30%;
        height: 4rem;
        margin-left: 1%;
    }

    .email{
        display: inline-block;
        width: 30%;
        height: 4rem;
        margin-left: 1%;
    }
    .message{
        width: 92.2%;
        height: 6rem;
        margin-top: 2%;
        margin-left: 4%;
    }

    .submit{
        margin-top: 1.5%;
        width: 31%;
        height: 4rem;
        display: inline-block;
        margin-left: 63.5%;
    }

     input,textarea{
        width: 100%;
        height: 100%;
        border-color: #bdbdbd ;
        border-style: double;
        border-width: thin;
        border-radius: 0.15em;
        font-size: 1.125rem;
        font-family: 'Segoe UI';
        padding-left: 1%;
    }

    button{
        width: 100%;
        height: 100%;
        border-style: double;
        border-width: thin;
        border-color:  #19a974;
        background-color: #19a974;
        font-size: 1.125rem;
        color: white;
        font-family: 'Segoe UI';
    }
}